%h1 Neighbours
%table.table.table-hover.table-light.table-striped
  %thead
    %tr
      %th Id
      %th Url
  -@nodes.each do |node|
    %tr
      %td= node.id
      %td= node.uri.to_s

= form_for @node, url: { action: :create }, html: { class: "form" } do |f|
  .form-row
    .col-auto
      = f.text_field :node_id, class: 'form-control'
    .col-auto
      = f.text_field :url, class: 'form-control'
    .col-auto
      = f.submit "Create", class: 'btn btn-primary'