.row.m-4
  .col-md-8.offset-2
    #accordion
      .card
        #statusHead.card-header
          %h5.mb-0
            %button.btn.btn-link{"aria-controls" => "statusBody", "aria-expanded" => "true", "data-target" => "#statusBody", "data-toggle" => "collapse"}
              Status
        #statusBody.collapse.show{"aria-labelledby" => "statusHead", "data-parent" => "#accordion"}
          .card-body
            %table.table.table-hover.table-light.table-striped.table-responsive
              %tr
                %th Id
                %td= @status[:id]
              %tr
                %th Name
                %td= @status[:name]
              %tr
                %th Last hash
                %td= @status[:last_hash]
              %tr
                %th Url
                %td= @status[:url]
      .card
        #neighboursHead.card-header
          %h5.mb-0
            %button.btn.btn-link.collapsed{"aria-controls" => "neighboursBody", "aria-expanded" => "false", "data-target" => "#neighboursBody", "data-toggle" => "collapse"}
              Neighbours
        #neighboursBody.collapse{"aria-labelledby" => "neighboursHead", "data-parent" => "#accordion"}
          .card-body
            %table.table.table-hover.table-light.table-striped
              %thead
                %tr
                  %th Id
                  %th Url
              -@status[:neighbours].each do |node|
                %tr
                  %td= node[:id]
                  %td= node[:uri].to_s
      .card
        #blocksHead.card-header
          %h5.mb-0
            %button.btn.btn-link.collapsed{"aria-controls" => "blocksBody", "aria-expanded" => "false", "data-target" => "#blocksBody", "data-toggle" => "collapse"}
              Blocks
        #blocksBody.collapse{"aria-labelledby" => "blocksHead", "data-parent" => "#accordion"}
          .card-body
            %table.table.table-striped
              %thead
                %tr
                  %th Timestamp
                  %th Prev hash
                  %th Hash
              -@blocks.each do |block|
                %tr
                  %td= block.ts
                  %td= block.prev_hash.last(6)
                  %td= block.block_hash.last(6)
      .card
        #transactionHead.card-header
          %h5.mb-0
            %button.btn.btn-link.collapsed{"aria-controls" => "transactionBody", "aria-expanded" => "false", "data-target" => "#transactionBody", "data-toggle" => "collapse"}
              Transactions
        #transactionBody.collapse{"aria-labelledby" => "transactionHead", "data-parent" => "#accordion"}
          .card-body
            %table.table.table-striped
              %thead
                %tr
                  %th From
                  %th To
                  %th Amount
              -@transactions.each do |transaction|
                %tr
                  %td= transaction.from
                  %td= transaction.to
                  %td= transaction.amount
